<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URL Shortener</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>URL Shortener</h1>
    <form action="/shorten" method="POST">
      <input type="url" name="longUrl" placeholder="Enter long URL" required>
      <button type="submit">Shorten</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Original</th>
          <th>Short</th>
          <th>Hits</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% urls.forEach(url => { %>
          <tr>
            <td><%= url.longUrl %></td>
            <td><a href="/<%= url.shortId %>" target="_blank"><%= baseUrl + '/' + url.shortId %></a></td>
            <td><%= url.clicks %></td>
            <td>
              <button onclick="copyToClipboard('<%= baseUrl + '/' + url.shortId %>')">Copy</button>
              <form action="/delete/<%= url._id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this link?')">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <div id="notification" class="hidden">Link copied!</div>
  </div>
 <footer
        style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); padding: 8px 16px; font-family: Arial, sans-serif; font-size: 9px; z-index: 1000;">
        Created by <a href="http://www.sinzn.fun/" style="text-decoration: none; color: #0366d6;"> Shivam Singh </a> |
        Source available on
        <a href="https://github.com/sinzn/urlShorterMongo/" target="_blank" style="text-decoration: none; color: #0366d6;">GitHub</a>.
    </footer>
  <script src="/js/script.js"></script>
</body>
</html>
